.App{
  width:80%;
  min-height:90vh;
  background-color: rgb(241, 142, 12);
  margin:0px;
  display:flex;

}
.App_user-form{
width:80%;
min-height: 200px;
background-color: white;
padding: 15px;
margin: 10px;

}
.App_user-info{
  width: 50%;
  min-height: 400px;
  background-color: white;
  padding: 15px;
  margin: 10px;
}